$color-white: #ffffff;
$color-white-o: rgba(255, 255, 255, 0.9);
$color-black: #000000;
$color-black-o: rgba(0, 0, 0, 0.6);
$color-grey-1: #333333;
$color-grey-2: #555555;
$color-grey-3: #f1f1f1;
$color-green-1: #006633;
$color-green-2: #a5dcac;

$shadow: 0 2px 15px -5px $color-grey-2;

$color-primary: $color-green-1;
$color-accent: $color-green-2;
$color-background: $color-white;

$font-main: 'Poppins', 'Calibri', 'Arial', sans-serif;

$font-size-xsm: 0.6rem;
$font-size-sm: 0.8rem;
$font-size-md: 1rem;
$font-size-lg: 1.2rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;
$font-size-xxxl: 3rem;

$height-header: 9rem;
$height-header-m: 6rem;

$width-sm: 576px;
$width-md: 768px;
$width-lg: 992px;
$width-xl: 1200px;
$width-xxl: 1400px;
$width-xxxl: 1800px;

@mixin breakpoint-sm {
  @media (max-width: $width-sm) { @content; }
}
@mixin breakpoint-md {
  @media (max-width: $width-md) { @content; }
}
@mixin breakpoint-lg {
  @media (max-width: $width-lg) { @content; }
}
@mixin breakpoint-xl {
  @media (max-width: $width-xl) { @content; }
}
@mixin breakpoint-xxl {
  @media (max-width: $width-xxl) { @content; }
}
@mixin breakpoint-xxxl {
  @media (max-width: $width-xxxl) { @content; }
}

@mixin vartical {
  @media (orientation: landscape) { @content; }
}
@mixin horizontal {
  @media (orientation: portrait) { @content; }
}
